  *{
    box-sizing: border-box;
  }

  body{
    background-color:#EEE;
    font-family: Bookman Old Style;
  }

  a{
    text-decoration: none;
    color:black;
  }

  .header{
    background-color: #FFE4E1;
    color: white;
    text-align: center;
  }

  .content{
    padding:10px;
  }

  .nav{
    list-style: none;
    text-align: center;
  }

  .nav .selected{
    font-weight: bold;
  }

  .nav li {
    display: inline-block;
    padding-right: 50px;
  }

  h1{
    margin: 0;
  }

  .nav2 {
    padding-left: 0px;
    padding-top: 0px;
    width: 20%;
    float: left;
  }
    .nav2 ul {
      list-style: none;
    }

  .nav2 ul li {
    background-color: #EEE;
    display: block;
    width:150px;
    height: 50px;
  }

  .nav2 ul li:hover{
    background-color: grey;
  }

  .plaatjes {
    float: center;
    align-items: center;

  }

  .main{
    display:flex;
    justify-content: space-around;
  }

  .main p{
    text-align: justify;
    padding-left: 10px;
  }

  .table{
    margin: 50px auto 10px auto;
    align-items: center;
  }

     td{
    border: 5px;
    border-style: solid;
    border-color: black;

  }

    .main-text{
      width:70%;
    }

    .main-text{
      width:70%;
      margin-bottom: 15px;
    }

    h2{
      text-align: center;
    }

    .main-img{
      width:20%;
      margin-top: 20px;
    }

    img{
      width:100%;
    }

  .main2 {padding-left: 30px;
    padding-top: 8px;
    padding-right: 80px;
  }

  .main3{
    width: 75%;
    float: right;
    margin-top: 10px;
    margin-bottom: 15px;
    margin-right:20px;
  }

  .container{
    background-color: #FFC0CB;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
  }

  .footer{
    clear: both;
    padding: 30px;
    background-color: #EEE
  }

  .footer p{
    float: right;
    border-style: solid;
    margin: 0;

  }
